<html>
<head>
<script>

var url = "<%= url %>"

</script>
<script src="/javascripts/deps/jquery-1.8.2.min.js" type="text/javascript" ></script>
<script src="/javascripts/deps/jquery-ui-1.10.3.custom.min.js" type="text/javascript" ></script>
<script src="/javascripts/deps/underscore.js" type="text/javascript" ></script>
<script src="/javascripts/deps/backbone.js" type="text/javascript" ></script>
<script src="/javascripts/main.js" type="text/javascript" ></script>
</head>
<body>
<p>Will this browser be okay for this version of websockets?</p>
</body>
</html>